body {
  font-family: sans-serif;
  background: #5e696cff;
  color: #fff;
}

.title {
  text-align: center;
  margin-top: 100px;
}

.mañana {
  background: #b9933f;
}
.tarde {
  background: #66342b;
}
.noche {
  background: #444268;
}