body {
  font-family: sans-serif;
  background: #5e696cff;
  color: #fff;
}

.title {
  text-align: center;
  margin-top: 100px;
}

.output {
  text-align: center;
  margin-top: 100px;
}

.morning {
  background: #b9933f;
}
.afternoon {
  background: #66342b;
}
.evening {
  background: #444268;
}